# Leyendo valores por teclado
Se consigue utilizando la instruccion input() que lee y devuelve una cadena.

In [1]:
valor = input()

algo

In [2]:
valor

'algo'

In [3]:
valor = input()

100

In [4]:
valor

'100'

In [5]:
type(valor)

str

In [6]:
# Aunque se lee un numero, en realidad es una cadena de texto
valor

'100'

In [7]:
# Es posible mostrar un mensaje antes de leer el valor.
valor = input("Introduce un valor: ")

Introduce un valor: 200

In [8]:
valor

'200'

In [10]:
# Una cadena y un numero no se pueden operar
valor + 100

TypeError: can only concatenate str (not "int") to str

# Cast con int(), de cadena a entero.

In [12]:
# La funcion int() de entero, devuelve un numero entero a partir de una cadena
valor = int(valor)

In [13]:
valor

200

In [14]:
type(valor)

int

In [16]:
valor + 1000

1200

In [17]:
valor = input("Introduce un numero flotante: ")

Introduce un numero flotante: 3.1416

In [18]:
type(valor)

str

# Cast con float(), de cadena a flotante

In [19]:
# La funcion float() de flotante, devuelve un numero flotante a partir de una cadena
valor = float(valor)

In [20]:
valor

3.1416

In [21]:
type(valor)

float

In [22]:
10 + valor

13.1416

In [23]:
valor1 = float(input("Introduce un numero decimal o entero: "))

Introduce un numero decimal o entero: 10.5

In [24]:
valor1

10.5

In [25]:
type(valor1)

float